.verticalLine {
     border-left: 1px solid rgb(160, 150, 150);
     height: 50px; 
     margin-right: 10px;
     padding: 0;
}

.leftBox {
     width: 25%;
}
.rightBox {
     width: 75%;
}
.card-body .bi{
position: absolute;
right: 0;
}
.body {
     flex-wrap: wrap;
}
.card {
     background-image: url('https://i.pinimg.com/736x/83/e0/8e/83e08eedfaf4304948d603c488c87f0b.jpg');
}